build/
build-*/
.cache/
.cmake/
.vscode/
.idea/
compile_commands.json

*.o
*.obj
*.exe
*.out
*.a
*.lib
*.dylib
*.dll
*.so
*.swp
*.swo
*~
nano.*.save
*.save
.DS_Store
tags
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
install_manifest.txt
CTestTestfile.cmake
